<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="alert alert-success text-center" role="alert">
  Total Inventory Count: <%= @total_product_count %>
</div>

<br>

<div class="alert alert-success text-center" role="alert">
  Total Category Count: <%= @total_category_count %>
</div>
